body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.name_highlight{
color: green;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 3%;
    padding: 2%;
}
.half_width img{
    width: 80%;
}
.link_button{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 5px;
    color: white;
}

.top_banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
#bignahidvai{
    width: 90%;
}
#second-banner{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
}
section{width:100%;clear:both}
.textalign{
    text-align: center;
}
div img{
    float: left;
    width: 5%;
}