body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.name_highlight{
color: green;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 3%;
    padding: 2%;
}
.half_width img{
    width: 80%;
}
.link_button{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 5px;
    color: white;
}

.top_banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
#bignahidvai{
    width: 90%;
}
#second-banner{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
}
section{width:100%;clear:both}
.textalign{
    text-align: center;
}
div{
    padding: 0 45%;
}
.container{
    background-color: tomato;
    margin-left: 50px;
    margin-right: 50px;
    }
.middle{
    text-align: center;
    }
footer p{
    text-align: center;
}
.pucka{
    color: yellowgreen;
}
.single-area{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 50%;
}
.experience-area{
    background-image: url("images/latest-work-bg.png");
}
#full-stack{
    border: 7px solid red;
}
#bull-stack{
    border: 7px solid black;
}